/node_modules
node_modules

# JetBrain IDEs & Apple
.DS_Store
.idea
.idea/*/**

### VisualStudioCode template
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/